div, body, h2, h3, p{
    padding: 0;
    margin: 0;
}

.overlay .bg {
    background: url(https://www.xtrafondos.com/descargar.php?id=5846&resolucion=3840x2160); 
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #0009;
    display: none;
}

.modal {
    margin: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 50px #000a;
    border-radius: 4px;
}

.top-options{
    max-height: 50px;
    padding: 10px;
    text-align: right;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    width: 500px;
    color: #a22;
}

.modal-content{
    width: 450px;
    
    font-family: sans-serif;
    color: #333;
}

.modal-content h2{
    font-size: 30px;
}

.modal-content p{
    padding: 10px 0;
    margin-top: 10px;
}

.open-modal {
    padding: 9px 18px;
    margin: 50px;
    font-size: 25px;
    border: none;
    box-shadow: 0px 0px 25px #0009;
    border-radius: 4px;
}

@keyframes aparecer {
    0%{
        margin-top: 200px;
        opacity: 0;
    }
    100%{
        margin-top: 300px;
        opacity: 1;
    }
    
}

@keyframes desaparecer {
    0%{
        margin-top: 300px;
        opacity: 1;
    }
    100%{
        margin-top: 200px;
        opacity: 0;
    }
    
}

@keyframes opacar {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

#foto {
    height: 400px;
    max-width: 100%;
    background-color: #000;
    margin: auto;
    object-fit: contain;
}

.foto-container{
    display: flex;
    background: #000;
    position: relative;
}

.selector-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #000c, #0000);
    height: 70px;
    text-align: right;
}

.img-selector {
    padding: 6px 10px;
    border: 3px solid #fff;
    display: inline-block;
    margin-left: auto;
    position: relative;
    top: 36px;
    margin-right: 20px;
}

.active {
    background: #fff;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 15px;
    justify-content: center;
    grid-auto-flow: dense;
    padding: 15px;
}
.grid-item {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.grid-item:hover{
    box-shadow: 0px 0px 10px #0006;
}

.grid-item:nth-child(5){
    grid-row: 1/3;
    grid-column: 1/3;
    height:  615px;
    width:  455px;
}
